* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: rgb(30, 0, 87);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
    height: 10%;
}

header a {
    color: white;
}

main {
    width: 100%;
    display: flex;
    height: 90%;
}

aside {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(196, 196, 196);
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

aside button {
    padding: 16px;
    background-color: rgb(44, 0, 202);
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
}

aside button:hover {
    background-color: rgb(30, 0, 87);
    cursor: pointer;
}

button {
    border-radius: 10px;
    cursor: pointer;
}

.settings-btn-group {
    align-self: center;
    gap: 0;
    display: flex;
    width: 100%;
}

.settings-btn-group>button:first-child {
    border-radius: 10px 0px 0px 10px;
    border: 3px solid rgb(30, 0, 87);
    border-right: none;
}

.settings-btn-group>button:last-child {
    border-radius: 0px 10px 10px 0px;
    border: 3px solid rgb(30, 0, 87);
    border-left: none;
}

.settings-btn-group>button:nth-child(2) {
    border-radius: 0px;
    border: 3px solid rgb(30, 0, 87);
}


/* --- */

.current_path {
    display: flex;
    border-bottom: 3px solid rgb(30, 0, 87);
}

.current_path a,
.current_path p {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.current_path a:visited {
    color: black;
}

.files {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

#dirs-container,
#files-container,
#imgs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.dir-div,
.file-div,
.img-div {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    font-size: 12px;
}

.dir-div img,
.file-div img,
.img-div img {
    width: 70%;
}

.dir-div {
    border: 3px solid rgb(236, 201, 0);
}

.file-div {
    border: 3px solid rgb(0, 167, 0);
}

.img-div {
    border: 3px solid rgb(204, 32, 152);
}

dialog {
    position: absolute;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

dialog>form:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

dialog button {
    width: 70px;
    padding: 5px;
    margin-top: 10px;
}

.ok-btn {
    border: none;
    background-color: limegreen;
}

.cancel-btn {
    border: none;
    background-color: rgb(212, 0, 0);
}

.ok-btn:hover,
.cancel-btn:hover {
    font-weight: bold;
}

#new_dir {
    border: 3px solid rgb(236, 201, 0);
}

#new_txt {
    border: 3px solid rgb(0, 167, 0);
}

.del-file-btn>button {
    border: none;
    background-color: none;
    color: rgb(179, 0, 0);
    font-weight: bold;
    padding: 2px;
}

dialog {
    z-index: 3;
}

#overlay,
#overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

input[type="file"] {
    margin-left: 10%;
}


/* -- */

.next-dir-btn,
.open-editor-btn,
.open-img-btn {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}


/* -- */

.editor-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
}

.editor-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 97%;
    overflow: auto;
}

#edit-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#edit-form button {
    padding: 16px;
    background-color: rgb(44, 0, 202);
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
}

#edit-form button:hover {
    background-color: rgb(30, 0, 87);
    cursor: pointer;
}

#edit-area {
    font-size: 20px;
    resize: none;
    height: 100%;
    outline: none;
    border: 3px solid rgb(30, 0, 87);
}

#editor-numbers {
    font-size: 20px;
    width: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    overflow: auto;
    color: rgb(30, 0, 87);
    font-weight: bold;
}

.saveTxtBtn {
    font-size: 16px;
}


/* ------ */

#panel {
    background-color: gray;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 0px;
    transition: width 1s;
}

#panel>* {
    display: none;
    margin-top: 10px;
}

.one-of-filter:hover {
    cursor: pointer;
}

.main-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-photo-container button {
    padding: 20px;
    font-size: 20px;
    background-color: rgb(30, 0, 87);
    color: white;
    border: none;
}

.main-photo-container button:hover {
    background-color: rgb(44, 0, 202);
    cursor: pointer;
}